@use '../abstracts/' as *;

.logo {
  &__heading {
    font-size: clamp(1.2rem, 1vw, 3rem);
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: -1rem;
      left: 0;
      border-bottom: 2px solid;
      border-image: linear-gradient(to right, rgb(0, 0, 0), rgb(170, 170, 170))
        1;
      width: 100%;
    }
  }
}

.nav {
  @include flex-config($justify: space-between, $align: center);
  padding: 2rem 0;
}

.theme-switch-wrapper {
  @include flex-config($direction: column, $align: center);

  &__paragraph {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

.theme-switch {
  display: inline-block;
  position: relative;
  width: 6rem;
  height: 3.4rem;

  &__input {
    display: none;

    &:checked + {
      .slider {
        background-color: #66bb6a;

        &::before {
          transform: translateX(2.6rem);
        }
      }
    }
  }
}

.slider {
  @include position($pos: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
  background-color: #ccc;
  cursor: pointer;
  transition: 0.4s;

  &::before {
    @include pseudo($bottom: 0.4rem, $left: 0.4rem);
    width: 2.6rem;
    height: 2.6rem;
    background-color: #fff;
    transition: 0.4s;
  }
}

.slider.round {
  border-radius: 3.4rem;

  &::before {
    border-radius: 50%;
  }
}

.hamburger {
  z-index: 20;

  @include respond(md) {
    display: none;
  }

  &__line {
    background-color: black;
    width: 3rem;
    height: 0.3rem;
    margin: 0.5rem;
    cursor: pointer;
  }
}

.nav-links {
  @include flex-config(
    $direction: column,
    $justify: space-evenly,
    $align: center
  );
  @include position($pos: fixed, $top: 0, $left: 0);

  height: 100vh;
  width: 100vw;
  z-index: 5;
  display: none;

  @include respond(md) {
    @include flex-config($direction: row);
    position: initial;
    height: auto;
    width: 50%;
  }

  &__link {
    font-size: 2rem;

    & a {
      color: orange;
    }
  }
}

.open {
  display: flex;
  background-color: var(--clr-dark);
}
